body {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: #1e222a;
  color: #abb2bf;
}

.messages-app ul {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}
